<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WizardWrx.AnyCSV" version="7.2.145" targetFramework="net452" />
  <package id="WizardWrx.ASCIIInfo" version="9.0.218" targetFramework="net48" />
  <package id="WizardWrx.AssemblyUtils" version="9.0.273" targetFramework="net48" />
  <package id="WizardWrx.BitMath" version="4.3.125.29248" targetFramework="net452" />
  <package id="WizardWrx.Common" version="9.0.266" targetFramework="net48" />
  <package id="WizardWrx.ConsoleAppAids3" version="9.0.566" targetFramework="net48" />
  <package id="WizardWrx.ConsoleStreams" version="9.0.324" targetFramework="net48" />
  <package id="WizardWrx.Core" version="9.0.337" targetFramework="net48" />
  <package id="WizardWrx.DLLConfigurationManager" version="9.0.353" targetFramework="net48" />
  <package id="WizardWrx.FormatStringEngine" version="9.0.300" targetFramework="net48" />
</packages>