<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WizardWrx.AnyCSV" version="7.2.145" targetFramework="net452" />
  <package id="WizardWrx.ASCIIInfo" version="9.0.209" targetFramework="net48" />
  <package id="WizardWrx.AssemblyUtils" version="9.0.258" targetFramework="net48" />
  <package id="WizardWrx.BitMath" version="4.3.125.29248" targetFramework="net452" />
  <package id="WizardWrx.Common" version="9.0.246" targetFramework="net48" />
  <package id="WizardWrx.ConsoleAppAids3" version="8.1.560" targetFramework="net48" />
  <package id="WizardWrx.ConsoleStreams" version="9.0.318" targetFramework="net48" />
  <package id="WizardWrx.Core" version="9.0.319" targetFramework="net48" />
  <package id="WizardWrx.DLLConfigurationManager" version="9.0.346" targetFramework="net48" />
  <package id="WizardWrx.FormatStringEngine" version="9.0.288" targetFramework="net48" />
</packages>