<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WizardWrx.AnyCSV" version="7.2.145" targetFramework="net48" />
  <package id="WizardWrx.ASCIIInfo" version="8.0.191" targetFramework="net48" />
  <package id="WizardWrx.BitMath" version="4.3.125.29248" targetFramework="net48" />
  <package id="WizardWrx.Common" version="8.0.212" targetFramework="net48" />
  <package id="WizardWrx.Core" version="8.0.309" targetFramework="net48" />
  <package id="WizardWrx.FormatStringEngine" version="8.0.278" targetFramework="net48" />
</packages>